apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  sources:
    - chart: kube-prometheus-stack
      # repoURL: https://github.com/prometheus-community/helm-charts
      repoURL: https://prometheus-community.github.io/helm-charts
      targetRevision: 56.21.3
      helm:
        releaseName: kube-prometheus-stack
        valueFiles:
        - $git/monitoring/values-kube-prometheus-stack.yaml  
    - repoURL: 'https://github.com/tomer1983/minikube.git'
      targetRevision: HEAD
      ref: git
  destination:
    server: "https://kubernetes.default.svc"
    namespace: monitoring
  syncPolicy:
    automated: # automated sync by default retries failed attempts 5 times with following delays between attempts ( 5s, 10s, 20s, 40s, 80s ); retry controlled using `retry` field.
      prune: true # Specifies if resources should be pruned during auto-syncing ( false by default ).
      selfHeal: true     